Menggunakan Fungsi fillna pada pandas

Recode/Replace

In [2]:
import pandas as pd
tweets = pd.read_csv('./Corona.csv')
print(tweets.fillna(0).iloc[0:10, 0:5])

   UserName  ScreenName                  Location     TweetAt  \
0      3799       48751                    London  16-03-2020
1      3800       48752                        UK  16-03-2020
2      3801       48753                 Vagabonds  16-03-2020
3      3802       48754                         0  16-03-2020
4      3803       48755                         0  16-03-2020
5      3804       48756  ÜT: 36.319708,-82.363649  16-03-2020
6      3805       48757      35.926541,-78.753267  16-03-2020
7      3806       48758                   Austria  16-03-2020
8      3807       48759           Atlanta, GA USA  16-03-2020
9      3808       48760          BHAVNAGAR,GUJRAT  16-03-2020

                                       OriginalTweet
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1  advice Talk to your neighbours family to excha...
2  Coronavirus Australia: Woolworths to give elde...
3  My food stock is not the only one which is emp...
4  Me, ready to go at supermarket during the #COV...
5  As news of the regions first confirmed COVID-...
6  Cashier at grocery store was sharing his insig...
7  Was at the supermarket today. Didn't buy toile...
8  Due to COVID-19 our retail store and classroom...
9  For corona prevention,we should stop to buy th...

Fill Forward

In [3]:
print(tweets.fillna(method='ffill').iloc[0:10,0:5].tail())

   UserName  ScreenName                  Location     TweetAt  \
5      3804       48756  ÜT: 36.319708,-82.363649  16-03-2020
6      3805       48757      35.926541,-78.753267  16-03-2020
7      3806       48758                   Austria  16-03-2020
8      3807       48759           Atlanta, GA USA  16-03-2020
9      3808       48760          BHAVNAGAR,GUJRAT  16-03-2020

                                       OriginalTweet
5  As news of the regions first confirmed COVID-...
6  Cashier at grocery store was sharing his insig...
7  Was at the supermarket today. Didn't buy toile...
8  Due to COVID-19 our retail store and classroom...
9  For corona prevention,we should stop to buy th...

Fill Backward

In [4]:
print(tweets.fillna(method='bfill').iloc[:,0:5].tail())

       UserName  ScreenName                      Location     TweetAt  \
41152     44951       89903  Wellington City, New Zealand  14-04-2020
41153     44952       89904  i love you so much || he/him  14-04-2020
41154     44953       89905  i love you so much || he/him  14-04-2020
41155     44954       89906  i love you so much || he/him  14-04-2020
41156     44955       89907  i love you so much || he/him  14-04-2020

                                           OriginalTweet
41152  Airline pilots offering to stock supermarket s...
41153  Response to complaint not provided citing COVI...
41154  You know its getting tough when @KameronWilds...
41155  Is it wrong that the smell of hand sanitizer i...
41156  @TartiiCat Well new/used Rift S are going for ...

Interpolate

In [5]:
print(tweets.interpolate().iloc[0:10,0:5])

   UserName  ScreenName                  Location     TweetAt  \
0      3799       48751                    London  16-03-2020
1      3800       48752                        UK  16-03-2020
2      3801       48753                 Vagabonds  16-03-2020
3      3802       48754                       NaN  16-03-2020
4      3803       48755                       NaN  16-03-2020
5      3804       48756  ÜT: 36.319708,-82.363649  16-03-2020
6      3805       48757      35.926541,-78.753267  16-03-2020
7      3806       48758                   Austria  16-03-2020
8      3807       48759           Atlanta, GA USA  16-03-2020
9      3808       48760          BHAVNAGAR,GUJRAT  16-03-2020

                                       OriginalTweet
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1  advice Talk to your neighbours family to excha...
2  Coronavirus Australia: Woolworths to give elde...
3  My food stock is not the only one which is emp...
4  Me, ready to go at supermarket during the #COV...
5  As news of the regions first confirmed COVID-...
6  Cashier at grocery store was sharing his insig...
7  Was at the supermarket today. Didn't buy toile...
8  Due to COVID-19 our retail store and classroom...
9  For corona prevention,we should stop to buy th...

Drop Missing Values

In [6]:
print(tweets.shape)

(41157, 6)

In [8]:
tweets_dropna = tweets.dropna()
print(tweets_dropna.shape)

(32567, 6)

In [9]:
print(tweets_dropna)

       UserName  ScreenName                      Location     TweetAt  \
0          3799       48751                        London  16-03-2020
1          3800       48752                            UK  16-03-2020
2          3801       48753                     Vagabonds  16-03-2020
5          3804       48756      ÜT: 36.319708,-82.363649  16-03-2020
6          3805       48757          35.926541,-78.753267  16-03-2020
...         ...         ...                           ...         ...
41147     44946       89898                  Brooklyn, NY  14-04-2020
41149     44948       89900              Toronto, Ontario  14-04-2020
41150     44949       89901                          OHIO  14-04-2020
41152     44951       89903  Wellington City, New Zealand  14-04-2020
41156     44955       89907  i love you so much || he/him  14-04-2020

                                           OriginalTweet Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...   Neutral
1      advice Talk to your neighbours family to excha...  Positive
2      Coronavirus Australia: Woolworths to give elde...  Positive
5      As news of the regions first confirmed COVID-...  Positive
6      Cashier at grocery store was sharing his insig...  Positive
...                                                  ...       ...
41147  Yall really shitting that much more at home??...  Negative
41149  Still shocked by the number of #Toronto superm...  Negative
41150  I never that wed be in a situation &amp; worl...  Positive
41152  Airline pilots offering to stock supermarket s...   Neutral
41156  @TartiiCat Well new/used Rift S are going for ...  Negative

[32567 rows x 6 columns]